<div class="login">
    <div class="logo">
        <img src="assets/Images/Logo.png" alt="logo">
        <h2><b>G</b><span>D</span>Career</h2>
    </div>
    <div class="login_main">
        <h1>Create a new password</h1>
        <p>Almost done. Enter your new password and you’re all set.</p>
        <form [formGroup]="resetForm" (ngSubmit)="onRest(resetForm.value)">
            <div class="form__group">
                <label for="password">New Password</label><br>
                <input class="form__control" type="password" placeholder="Enter your password"
                    formControlName="password" #passwordInput>
                <span class="password-toggle" (click)="togglePasswordVisibility(passwordInput)">
                    <i class="fa {{ showPasswordIcon }}"></i>
                </span>
            </div>
            <div class="form__group">
                <label for="password">Confirm Password</label><br>
                <input class="form__control" type="password" placeholder="Enter your password"
                    formControlName="cpassword" #passwordInput1>
                <span class="password-toggle" (click)="togglePasswordVisibility1(passwordInput1)">
                    <i class="fa {{ showPasswordIcon1 }}"></i>
                </span>
            </div>

            <button type="submit" class="reste_btn" [disabled]="this.resetForm.invalid">Reset password</button>
        </form>
    </div>
</div>