.login {
    background-image: url(../../assets/Images/bg.png);
    background-size: cover;
    height: 97vh;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 53px;
}

.logo img {
    width: 80px;
    height: 60px;
}

.logo h2 {
    font-family: 'Noto Sans', sans-serif;
    color: #19A7CE;
    font-size: 20px;
}

.logo h2 b {
    font-size: 30px;
    color: #7149C6;
}

.logo h2 span {
    color: #E74646;
    font-size: 30px;
}

input.ng-dirty.ng-invalid {
    border-color: red
}
.login_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login_main h1 {
    font-weight: 500;
    font-size: 24px;
    color: #444444;
}

.form__group label {
    font-weight: 400;
    font-size: 13px;
    color: #444444;
}