.login {
    background-image: url(../../assets/Images/bg.png);
    background-size: cover;
    height: 97vh;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 53px;
}

.logo img {
    width: 80px;
    height: 60px;
}

.logo h2 {
    font-family: 'Noto Sans', sans-serif;
    color: #19A7CE;
    font-size: 20px;
}

.logo h2 b {
    font-size: 30px;
    color: #7149C6;
}

.logo h2 span {
    color: #E74646;
    font-size: 30px;
}

.login_main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login_left {
    width: 50%;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Login_left h1 {
    font-weight: 400;
    font-size: 20px;
    color: #19A7CE;
    width: 365px;
    text-align: center;
}

.login_right {
    width: 50%;

}

.login_page {
    height: 419px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    width: 480px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.login_page h1 {
    font-weight: 500;
    font-size: 30px;
    color: #555555;
}

.login_page .para {
    padding-top: 4px;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
}

.login_page .para a {
    color: #19A7CE;
    cursor: pointer;
    text-decoration: none;

}

.form__group {
    display: grid;
    gap: 5px;
    position: relative;
    margin-bottom: 20px;
}

input.ng-dirty.ng-invalid {
    border-color: red
}

.form__group label {
    font-weight: 400;
    font-size: 13px;
    color: #444444;
}

.form__group input::placeholder {
    font-weight: 300;
    font-size: 14px;
    color: #B4B4B4;
}

.form__group input:hover,
.form__group input:focus {
    border: 1px solid #19A7CE;

}

.form__control {
    display: grid;
    font-size: 14px;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 8px;
    width: 400px;
    font-weight: 300;
    font-size: 14px;
    padding-left: 20px;
    height: 40px;
}

.forgot {
    display: flex;
    justify-content: space-between;
    width: 425px;
    align-items: center;
}

.check_box {
    display: flex;
    align-items: center;
}

.check_box input {
    cursor: pointer;
}

.check_box label {
    font-weight: 400;
    font-size: 14px;
    color: #444444;
}

.forgot p a {
    font-weight: 400;
    font-size: 14px;
    color: #19A7CE;
    cursor: pointer;
}

.login_btn {
    width: 425px;
    height: 40px;
    background: #19A7CE;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    outline: none;
}

.login_btn:hover {
    background: #076d8a;

}

button.login_btn:disabled {
    cursor: not-allowed;
}

.login_btn h2 {
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
}

.password-toggle i {
    position: absolute;
    margin-top: -38px;
    margin-left: 380px;
    color: #B4B4B4;
    cursor: pointer;
    font-size: 22px;
}

.forget {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forget_modal {
    width: 560px;
    height: 507px;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forget_modal h1 {
    font-weight: 500;
    font-size: 18px;
    color: #444444;
}

.forget_modal form button {
    width: 425px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
}

.forget_modal form button.done_btn {
    background: #19A7CE;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    border: none;
}

.forget_modal form button.done_btn:hover {
    background: #056e8b;
}

.forget_modal form button.back_btn {
    margin-top: 20px;
    border: 1px sloid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 700;
    font-size: 14px;
    color: #19A7CE;
    background-color: transparent;
    border: 1px solid transparent;
}

.forget_modal form button.back_btn:hover {
    border: 1px solid #19A7CE;
}

.incorrect_modal {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.incorrect_login {
    width: 502px;
    height: 402px;
    background: #FAFAFA;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.incorrect_login h1 {
    font-weight: 500;
    font-size: 18px;
    color: #444444;
}

.incorrect_login p {
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    margin-top: -5px;
}

.try_btn {
    background: #FFFFFF;
    border: 1px solid #19A7CE;
    border-radius: 8px;
    width: 105px;
    height: 40px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    color: #19A7CE;
    margin-top: 30px;
}

.try_btn:hover {
    background: #19A7CE;
    color: #fff;
}