<div class="login">
    <div class="logo">
        <img src="assets/Images/Logo.png" alt="logo">
        <h2><b>G</b><span>D</span>Career</h2>
    </div>


    <div class="login_main">
        <div class="Login_left">
            <h1>Apply for your dream job just by sitting at your home...</h1>
            <img src="assets/Images/left_login.png" alt="">
        </div>
        <div class="login_right">
            <div class="signup_page">
                <h1>Signup here!</h1>
                <p class="para">Already have an account? <a routerLink="/login">Login</a> here!</p>
                <form action="" [formGroup]="signupForm" (ngSubmit)="onSignup(signupForm.value)">
                    <div class="form__group">
                        <label for="name">Name</label>
                        <input class="form__control" type="name" placeholder="Enter your name" formControlName="name">
                    </div>
                    <div class="form__group">
                        <label for="email">Email</label>
                        <input class="form__control" type="email" placeholder="Enter your email" formControlName="email">
                    </div>
                    <div class="form__group">
                        <label for="password">Password</label>
                        <input class="form__control" type="password" placeholder="Enter your password" formControlName="password" #passwordInput>
                        <span class="password-toggle" (click)="togglePasswordVisibility(passwordInput)">
                            <i class="fa {{ showPasswordIcon }}"></i>
                        </span>
                    </div>
                    <div class="forgot">
                        <div class="check_box">
                            <input type="checkbox">
                            <p>I agree to <a><u>terms and conditions</u></a></p>
                        </div>
                    </div>
                    <button type="submit" class="login_btn" [disabled]="this.signupForm.invalid">
                        <h2>Sign Up</h2>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>