.container {
    width: 100%;
    height: 100%;
    background-color: #fff;

}

.nav_bg {
    height: 72px;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.04);
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    margin: 0 135px;
    /* padding: 0 50px; */
    justify-content: space-between;
}

.navbar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navbar .logo img {
    width: 20%;
    height: 20%;
}

.navbar .logo h2 {
    font-family: 'Noto Sans', sans-serif;
    color: #19A7CE;
    font-size: 20px;
}

.navbar .logo h2 b {
    font-size: 30px;
    color: #7149C6;
}

.navbar .logo h2 span {
    color: #E74646;
    font-size: 30px;
}

.feature {
    display: flex;
    align-items: center;
    gap: 30px;
}

.feature ul {
    display: flex;
    gap: 20px;
}

.feature ul li {
    list-style: none;
    font-size: 17px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.feature ul .home {
    font-weight: 700;
    font-size: 17px;
    color: #444444;
}

.feature ul li:hover {
    color: #19A7CE;

}

.profile_logo {
    display: flex;
    gap: 31px;
}

.profile_logo img {
    cursor: pointer;
}

/* -------------Profile Settings--------------------- */
.profile {
    position: relative;
}

.account_settings {
    padding: 0 15px;
    background: #FFFFFF;
    box-shadow: -2px 4px 14px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    position: absolute;
    z-index: 999;
}

.account_text {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10px;
    /* text-align: justify; */
    /* text-align: center; */
    border-bottom: 1px solid #F0F0F0;
}

.account_text img {
    max-width: 18px;
    max-height: 18px;
}

.account_name h3 {
    font-weight: 400;
    font-size: 14px;
    color: #555555;
    padding-top: 20px;
}

.account_name p {
    font-weight: 300;
    font-size: 13px;
    color: #777777;
    margin-top: -5px;
}

.account_card h2 {
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    border-bottom: 1px solid #F0F0F0;
    padding-bottom: 13px;
    cursor: pointer;
}

.account_card h2:hover {
    color: #19A7CE;
}


/* .profile_main {
    display: flex;
    align-items: center;
} */
.profile_main {
    padding: 0 240px;

}

.profile_main h2 {
    font-weight: 400;
    font-size: 28px;
    color: #444444;
    /* padding-top: 55px; */
    /* padding-left: 110px; */
}
.back_icon{
    display: flex;
    padding-top: 45px;
    align-items: center;
    gap: 10px;
}

.profile_main .back_home::before {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: " ";
    display: inline-block;
    height: 10px;
    transform: rotate(220deg);
    transition: 0.35s ease-in-out;
    vertical-align: middle;
    width: 10px;
    cursor: pointer;
    /* margin-top: -3px; */
    /* margin-right: 10px; */
}

.profile_image {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
    padding: 30px 40px;
}

.profile_image img {
    max-width: 80px;
    max-height: 80px;
}

.profile_image .profile_text h3 {
    font-weight: 400;
    font-size: 24px;
    color: #666666;
    padding-top: 1px;
}

.profile_image .profile_text p {
    font-weight: 300;
    font-size: 18px;
    color: #999999;
    margin-top: -20px;
}

.all-read-important {
    display: flex;
    /* width: 232px; */
    height: 28px;
    align-items: center;
    margin-top: 20px;
    /* padding-left: 13px; */
    column-gap: 40px;
    border-bottom: 1px solid #E0E0E0;
    color: #969696;
    padding-bottom: 19px;
}

.all-read-important p {
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
}

.all,
.unread {
    border-bottom: 2px solid transparent;
}

.all:hover,
.unread:hover {
    border-bottom: 2px solid #19A7CE;
}

.color {
    color: #19A7CE;
    border-bottom: 2px solid #19A7CE;
}

.job_row {
    align-items: start;
    display: grid;
    gap: 28px;
    grid-template-columns: repeat(auto-fill, minmax(412px, 1fr));
    margin-top: 50px;
    padding: 51px 30px;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
}

.col-4 {
    display: inline-block;
    width: 100%;
}

.col-4 .card {
    width: 431px;
    height: 216px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: inline-block;
    border: 1px solid #999999;
    /* padding: 5px 20px; */
}

.col-4 .card:hover,
.col-4 .card:focus {
    border: 1px solid #19A7CE;
}

.card_bg {
    height: 68px;
    background: rgba(25, 167, 206, 0.15);
    width: 100%;
    /* padding: 5px 20px; */
}

.card_title .card_text {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}



.card_text img {
    width: 100px;
    height: 38px;
}

.card_company h1 {
    font-weight: 400;
    font-size: 20px;
    color: #444444;
}

.card_company h3 {
    font-weight: 300;
    font-size: 18px;
    color: #222222;
    margin-top: -15px;
}

.job_details {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
    margin-top: -20px;
}

.job_details_text {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.job_details_text p {
    color: #444444;
    font-weight: 300;
    font-size: 16px;
}

.card_title h4 {
    font-weight: 300;
    font-size: 16px;
    color: #444444;
    padding: 0 20px;
    text-align: justify;
    margin-top: -5px;

}

.card_title h5 {
    border-bottom: 1px solid #B4B4B4;
    width: 382px;
    margin-left: 20px;
    margin-top: -10px;
}

.share {
    display: flex;
    float: right;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
}

.share img {
    cursor: pointer;
    position: absolute;
    margin-top: -15px;
}

.share h3 {
    font-weight: 400;
    font-size: 14px;
    color: #19A7CE;
    cursor: pointer;
}

.share img.save_logo {
    right: 40px;
}


.Change_Password {
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
    padding: 51px 20px 51px 30px;
    margin-top: 20px;
}

.form__group label {
    font-weight: 400;
    font-size: 16px;
    color: #444444;
}

.form__group {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.form__control1,
.form__control2,
.form__control3 {
    width: 400px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 8px;
    outline: none;
    padding-left: 20px;
    padding-right: 50px;

}

.form__control1:hover,
.form__control1:focus,
.form__control2:hover,
.form__control2:focus,
.form__control3:hover,
.form__control3:focus {
    border: 1px solid #19A7CE;
}

.form__control1 {
    margin-left: 200px;
}

.form__control2 {
    margin-left: 194px;
}

.form__control3 {
    margin-left: 170px;
}

.form__group span i {
    position: absolute;
    margin-left: -40px;
    margin-top: -10px;
    font-size: 20px;
    color: #AAAAAA;
    cursor: pointer;
}

.pass_btn {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

.pass_btn button {
    width: 135px;
    height: 42px;
    padding: 11px 20px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-weight: 600;
    font-size: 14px;
}

.pass_btn button.update_btn {
    background: #19A7CE;
    color: #fff;
}

.pass_btn button.update_btn:hover {
    background: #0b6781;
}

.pass_btn button.Cancel_btn {
    background: transparent;
    color: #19A7CE;
}

.pass_btn button.Cancel_btn:hover {
    border: 1px solid #19A7CE;
}

input.ng-dirty.ng-invalid {
    border-color: red
}


.footer {
    background-color: #19A7CE;
    width: 100%;
    height: 284px;
    margin-top: 120px;
}

.footer_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 135px;
}


.footer_about li,
.footer_term li {
    list-style: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    padding-top: 10px;
    cursor: pointer;
}

.footer_useful {
    margin-top: 30px;
}

.footer_useful li {
    list-style: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    padding-top: 10px;
    cursor: pointer;
}

.footer_Contact {
    margin-top: 100px;
}

.footer_Contact li {
    list-style: none;
    border-bottom: 1px solid #fff;
    padding-bottom: 7px;

}

.footer_Contact b {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.footer_Contact li a {
    display: flex;
    align-items: center;
    gap: 13px;
    padding-top: 10px;
    color: #fff;
    cursor: pointer;
}

.apply_btn {
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 931px;
    border-bottom: 1px solid #F0F0F0;
    padding-bottom: 10px;
}

.apply_btn button {
    padding: 11px 20px;
    color: #fff;
    width: 135px;
    height: 42px;
    border: none;
    outline: none;
    background: #19A7CE;
    border-radius: 8px;
    cursor: pointer;
}

.apply_btn button:hover {
    background: #106880;

}

.share,
.share1,
.share2 {
    padding: 0 70px;
    position: relative;
}

.share img {
    position: absolute;
    padding-top: 20px;
    right: 15px;
    cursor: pointer;
}

.share1 img {
    position: absolute;
    padding-top: 20px;
    right: 45px;
    cursor: pointer;
}

.share2 a {
    position: absolute;
    padding-top: 20px;
    right: 65px;
    cursor: pointer;
    font-size: 12px;
    color: #19A7CE;
}

.share2 a:hover {
    color: #0a5062;
}

.task_input {
    width: 400px;
    height: 60px;
}

.input_search .add_task {
    display: none;
}

.input_search .add_input_task {
    align-items: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 32px;
    gap: 10px;
    /* margin-left: -40px; */
    width: 400px;
    /* margin-top: 50px; */
    border: 1px solid #19A7CE;
    width: 460px;
    min-height: 155px;
    overflow: auto;
    border-radius: 6px;
}

.add_input_task li {
    padding-left: 50px;
    display: flex;
    align-items: center;
    background: rgba(25, 167, 206, 0.15);
    border-radius: 20px;
    padding: 6px 16px;
    list-style: none;
    cursor: pointer;
    /* gap: 10px; */
}

.Compatibility {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0 50px; */
}

.Compatibility_content {
    background: #FFFFFF;
    box-shadow: -5px 5px 45px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 700px;
    height: 526px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Compatibility_content h1 {
    font-weight: 600;
    font-size: 24px;
    color: #444444;
    padding-top: 50px;
}

.Compatibility_content p {
    margin-top: -5px;
}

.task_input_skill {
    width: 470px;
    height: 24px;
    padding: 10px 20px 10px 10px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 8px;
    outline: none;
}

.task_input_skill:hover,
.task_input_skill:focus {
    border: 1px solid #19A7CE;
}

.input_search .skill_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.skill_btn button {
    width: 135px;
    height: 42px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    border: none;
}

.skill_btn button.check {
    background: #19A7CE;
    color: #FFFFFF;
}

.skill_btn button.check:hover {
    background-color: #106880;
}

.skill_btn button.skill_Cancel {
    color: #19A7CE;
    border: 1px solid transparent;
    background-color: transparent;
}

.skill_btn button.skill_Cancel:hover {
    border: 1px solid #19A7CE;
}

.Congratulations_modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Congratulations_content {
    width: 376px;
    height: 257px;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Congratulations_content .Close_icon {
    position: absolute;
    margin-left: 420px;
    margin-top: -280px;
    cursor: pointer;
}